.root {
    -fx-background-color: #f0f0f0;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.main-menu {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}


#nimLabel {
    font-size: 16px;
    font-weight: bold;
}

#nimField {
    -fx-pref-width: 200px;
    -fx-padding: 5px;
}

#submitButton, #backButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#submitButton:hover, #backButton:hover {
    -fx-background-color: #45a049;
}

#submitButton:pressed, #backButton:pressed {
    -fx-background-color: #47b84b;
}


#usernameLabel, #passwordLabel {
    font-size: 14px;
    font-weight: bold;
}

#usernameField, #passwordField {
    -fx-pref-width: 200px;
    -fx-padding: 5px;
}

#loginButton, #backButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#loginButton:hover, #backButton:hover {
    -fx-background-color: #45a049;
}

#loginButton:pressed, #backButton:pressed {
    -fx-background-color: #3e8e41;
}
